* {
	font-size: 12px;
	font-family: monospace;
}

window#waybar {
	background: #24273a;
	color: #cad3f5;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1e2030;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e;
	background: #1e2030;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: #1e2030;
}

#workspaces button {
	padding: 0px 2px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#pulseaudio {
	color: #f5bde6;
}
#memory {
	color: #c6a0f6;
}
#cpu {
	color: #ed8796;
}
#battery {
	color: #a6da95;
}
#disk {
	color: #8bd5ca;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}
